# Environment
.env
.venv/
__pycache__/
node_modules/

# IDE
.vscode/
.idea/
.DS_Store

# Builds
/dist/
/build/
.firebase/
coverage/

# Python
*.pyc
*.pyo

# Logs
*.log

# Misc
firebase-debug.log

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
functions/.env
*.cache
.runtimeconfig.json
